<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Brittany Woods</a></h1>
            <p>Automator of the things. UK Panel Show Addict.<br />
            Still waiting on my letter from Hogwarts.</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/professional">Professional Experience</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/tutorials">Tutorials</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/bnwoods2008" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.linkedin.com/in/brittany-woods-56834b61" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/bnwoods" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
                <li><a href="mailto:brittanywoods2008@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>
